{% extends 'admin_base.html' %}

{% block content %}
      
      <div class="mt-4">
        <h2>Ai Analysis</h2>
        <div class="card">
          <div>
          <a href="/ai-dashboard" class="btn btn-primary">Go to AI Dashboard 💥 </a>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <h2>Live Face Analysis</h2>
        <div class="card">
          <div>
            <a href="/live-emotion" class="btn btn-primary">Live Face Emotion Detection 🤓</a>
          </div>
        </div>
      </div>

      {% comment %} <div class="mt-4">
        <h2>Case Management</h2>
        <div class="card">
          <h3>Case Actions</h3>
          <div>
            <a href="/admin_case_manage#CreateCase" class="btn btn-success">Create Case</a>
            <a href="/admin_case_manage#CaseList" class="btn btn-info">Case List</a>
            <a href="/admin_case_manage#CaseList" class="btn btn-danger">Case Details</a>
          </div>
        </div>
      </div> {% endcomment %}

{% endblock %}