{% extends 'admin_base.html' %}

{% block content %}
      
      <!-- System Metrics -->
      <div class="mt-4">
        <h2>Reports Summary</h2>
        <div class="card">
          <div class="chart-container">
            <canvas id="casesChart"></canvas>
          </div>
        </div>
      </div>

      <!-- User Management -->
      <div class="mt-4">
        <h2>Case Reports</h2>
        <div class="card">
          <table class="table">
            <thead>
                <tr>
                    <th>Case ID</th>
                    <th>Case Name</th>
                    <th>Start Date</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for case in cases %}
                <tr data-case-id="{{ case.id }}">
                    <td>{{ case.case_id }}</td>
                    <td>{{ case.title }}</td>
                    <td>{{ case.created_at }}</td>
                    <td>{{ case.status }}</td>
                    <td>
                      <a href="{% url 'generate_case_report_view' case.case_id %}" class="btn btn-primary">Download Report</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

  <script>

    const total_cases = {{ total_cases }};
    const total_evidences = {{ total_evidences }};
    const total_ai_analyses = {{ total_ai_analyses }};
    const total_reports = {{ total_reports }};
    const pending_reports = {{ pending_reports }};

    const ctx = document.getElementById('casesChart').getContext('2d');
    new Chart(ctx, {
      type: 'bar',  // Changed to Bar Chart
      data: {
        labels: ['Total Cases', 'Total Evidences', 'Total Ai Analyses', 'Total Reports', 'Pending Reports'],
        datasets: [{
          label: 'System Metrics',
          data: [total_cases, total_evidences, total_ai_analyses, total_reports,pending_reports],
          backgroundColor: ['#ddb847', '#6b540f', '#f1c40f', '#b6cd14', '#f39c12'],
          borderWidth: 1
        }]
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });

  </script>

{% endblock %}