{% extends 'ai_base.html' %}

{% block content %}

<h2>Evidences for Case ID: {{ case.case_id }} - {{ case.title }}</h2>
<div>
    <table>
        <thead>
            <tr>
                <th>Evidence File</th>
                <th>Evidence Type</th>
                <th>Case Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% if evidences %}
                {% for evidence in evidences %}
                <tr>
                    <td>{{ evidence.file.name }}</td>
                    <td>{{ evidence.file_type }}</td>
                    <td>{{ evidence.status }}</td>
                    <td><a href="{% url 'analyze_evidence' evidence.id %}"><button>Analyze</button></a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4" class="text-center text-danger">No evidences found 😕</td>
                </tr>
            {% endif %} 
        </tbody>
    </table>
</div>

{% endblock %}

