<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ForensicAI</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

</head>
<body>
    <header>
        <h1>Forensic AI System</h1>
        <nav>
            <a href="{% url 'evidence_list' %}">Evidence List</a> |
            <a href="{% url 'upload_evidence' %}">Upload Evidence</a> |
            <a href="{% url 'evidence_review' %}">Upload Evidence</a> |
            <a href="{% url 'dashboard' %}">Go Back</a>
        </nav>
    </header>
    
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 ForensicAI. All rights reserved.</p>
    </footer>
</body>
</html>
